{% extends 'base_nav.html' %}

{% block page_name %}Profile | {% endblock %}

{% block container %}
<main class="container">
    <section class="row">
        <div class="col-12 col-lg-8">
            <h1 class="h3 my-5">Личный кабинет. Заказы</h1>
            {% for order in orders %}
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-7 col-lg-9">
                                <span class="h5 font-weight-bold">{{ order.date | date_format }}</span>
                                <span class="h5">- {{ order.total }} P</span>
                            </div>
                            <div class="col-3 col-lg-2 ml-5 py-2 badge
                            {% if order.status == 'done' %} {{ 'badge-success' }} {% else %} {{ 'badge-primary' }} {% endif %}
                            text-wrap">{{ order.status }}</div>
                        </div>
                    </li>
                    <div class="card-body">
                        <div class="row">
                            {% for meal in order.meals %}
                            <p class="col-4 text-muted"> {{ meal.title }}</p>
                            <p class="col-2 text-muted"> 1</p>
                            <p class="col-6 text-muted"> {{ meal.price }} </p>
                            {% endfor %}
                        </div>
                    </div>
                </ul>
            </div>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}